<% include partials/header %>
<section class="intro full-width animated fadeIn">
	<div class="container">
		<div class="row">
			<h1>Michaels Tax</h1>
			
			<div class="col-sm-12 col-md-4 offset-md-4 head">
				<img class="logo" src="/img/logo.svg" alt="Michaels logo" />
				<h2>We make tax simple</h2>
			</div>
			
			<div class="col-sm-12 col-md-6 offset-md-3 copy">
				<p>We're about to launch a new website, which will detail our services and information.</p>
				<p>In the meantime, please email <a href="mailto:anthony@michaelstax.com">info@michaelstax.com</a></p>
			</div>
		</div>
	</div>
</section>

<% include partials/footer %>